body{
  background: #68b8c4;
  text-align: center;
  padding: 1%;
  overflow-x:hidden;
  margin-top: 40px;
}
#caixa-botao{
background-color: #;
margin: auto;
width: 300px;
height: 100px;

}
button{
  display: inline-block;
  background: white;
 
  border: 0;
  margin: auto;
  margin: 0 0 2%;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 18px;
  padding: .5em 1em;
  border-radius: 5px;
  cursor: pointer;
  outline: 0 none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p{
  font-family: "Helvetica Neue", arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 1em;
}

p:last-child{
  margin-bottom: 0;
}

#Container{
background-color: #;
width: 100%;
margin: auto;
}
.container{
  text-align: justify;
  font-size: 0;
  
 
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .item,
.container .gap{
  display: inline-block;
  width: 49%;
}

.container .mix{
  text-align: ;
  background: #03899c;
  margin-bottom: 2%;
  padding:;
  vertical-align: top;
  display: none;
  margin-left: 0px;
  -webkit-backface-visibility: hidden;
}

/* Flex box progressive enhancements: */

.container{
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
  -webkit-align-content: flex-start;
}

@media all and (min-width: 420px){
  .container .mix,
  .container .gap{
    width: 430px;
  }
}

.container .mix img{
background-position: center;
width: 430px;
height: 280px;
padding: 5px px 5px 5px;
}
